.nav-bar {
    background: #6DBC73;
    width: 100%; /* Full width */
    height: 77px; /* Match the previous width as height */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .logo { 
        display: flex;
        align-items: center;
        padding: 8px 0;

        img {
            display: block;
            margin: 0 10px;
            width: 50px;
            height: auto;

            &.sub-logo {
                width: 50px;
            }
        }
    }   
    
    nav {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            font-size: 24px; 
            text-decoration: none;
            position: relative;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: black;

                svg {
                    opacity: 1;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 18px;
                letter-spacing: 2px;
                position: absolute;
                display: flex;
                width: 100%;    
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
                bottom: -20px;
                align-items: center;
            }

            &:first-child:after {
                content: 'HOME';
                padding-right:3rem;
            }
        }

        a.about-link:after {
            content: 'ABOUT';
        }

        a.contact-link:after {
            content: 'CONTACT';
        }

        a.active {
            svg {
                color: #D7E4CB;
            }
        }
    }

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-right: 3rem;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 24px;

                &:hover svg {
                    color: #D7E4CB;
                }
            }
        }
    }
}


